/* Shared styles for live buttons */
.live-button {
  @apply font-bold
    rounded-2xl
    shadow-lg
    text-center
    cursor-pointer
    whitespace-nowrap
    transition
    ease-in-out
    duration-150
    bg-[#FFFD2F]
    text-[#ed3b4b]
    hover:bg-[#F24162]
    hover:text-[#FFFD2F]
    active:bg-[#784A8C]
    active:text-[#FFFD2F]
    focus:bg-[#784A8C]
    focus:text-[#FFFD2F]
    hover:shadow-md
    hover:scale-[1.02]
    active:scale-[0.98]
    active:shadow-sm;
}

.live-button:hover {
  filter: brightness(0.9);
}
@font-face {
  font-family: "Nimbus Sans Bold";
  src: url("/fonts/Nimbus Sans Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ed3b4b;
  background-image: url("/bgs/Landing_Background.jpg");
  background-repeat: no-repeat;
  /* 👇 Change 'center' to 'top' */
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
